<h2> Congratulations, you're ready to fly!</h2>

<p> Your trip starts on <%= @booking.start_date %> and you must return your
aircraft on <%= @booking.end_date %>
<%# The total cost for this trip is <%= @booking.aircraft %>
</p>
